<a href="">
    <button class="download-cv">Sign up</button>
</a>


<style>
    .download-cv{
        padding: 15px 40px;
        background-color: #FF0000;
        color: #fff;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 8px 8px 24px 0px rgba(255, 198, 194, 1);
    }

    .download-cv:hover {
        transition: ease-in .3s;
        background-color: #fff;
        color: #FF0000;
        box-shadow: none;
    }
</style>