---
import { SITE_TITLE } from '../consts';
---

<nav class="navbar">
	<i class='bx bx-menu'></i>
	<ul class="menu">
		<li><a href="">Home</a></li>
		<li><a href="">About me</a></li>
		<li><a href="">Portafoli</a></li>
		<li><a href="">Contact</a></li>
	</ul>
	<div class="brand">
		<h2>Daniel, <span>aldana</span></h2>
	 </div>
</nav>

<style>

	.navbar{
		display: flex;
		justify-content: space-between;
		padding: 2em;
	}

	.brand span {
      color: #FF0000;
	}

	.brand {
		color: #fff;
		width: 15%;
	}

	.menu{
		display: flex;
		width: 40%;
		justify-content: space-around;
	}

	.menu a{
		border-radius: 20px;
		color:  #fff;
		padding: 10px 20px;
	}

	.menu a:hover{
		border-radius: 20px;
		background-color: #FF0000;
		color: #fff;
		transition:  ease-in .4s;
	}

</style>
