---
import { SITE_TITLE } from '../consts';
---

<nav>
	<img src="../../public/placeholder-hero.jpg" alt="">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="">Help</a></li>
	</ul>
	<h2>LARANA, INC</h2>
</nav>


<style>

	nav{
		width: 98%;
		height:90px;
		border-radius: 30px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav img {
		width: 70px;
		height: 50px;
		border-radius: 50%;
	}
	nav ul{
		display: flex;
		margin-right: 50%;
	}

	nav a {
		padding: 7px 20px;
		color: #fff;
		font-size: 1.1rem;
		text-transform: uppercase;
		font-weight: 500;
	}

	nav h2 {
		font-size: 1.9rem;
		margin-right: 2%;
	}

</style>
