---
import { SITE_TITLE } from "../consts";
---

<nav class="navbar">
	<i class="bx bx-menu" id="icons-menu"></i>
	<ul class="menu">
		<i class="bx bxs-face"></i>
		<li><a href="">Home</a></li>
		<li><a href="">About me</a></li>
		<li><a href="">Portafoli</a></li>
		<li><a href="">Contact</a></li>
	</ul>
	<div class="brand">
		<h2>SEN<span>A</span></h2>
	</div>
</nav>

<style>
	.navbar {
		display: flex;
		justify-content: space-between;
		padding: 2em;
		font-size: 20px;
	}

	.navbar i {
		font-size: 2.5em;
		color: #fff;
		margin-top: -12px;
	}

	#icons-menu {
		display: none;
	}

	.navbar span {
		/* font-size: 2em; */
		color: #fff;
	}

	.brand span {
		color: #ff0000;
	}

	.brand {
		color: #fff;
		width: 15%;
	}

	.menu {
		display: flex;
		width: 60%;
		justify-content: space-around;
		margin-top: 10px;
	}

	.menu a {
		border-radius: 20px;
		color: #fff;
		padding: 10px 20px;
		/* display: none; */
	}

	.menu a:hover {
		border-radius: 20px;
		background-color: #ff0000;
		color: #fff;
		transition: ease-in 0.4s;
	}

	@media screen and (max-width: 739px) {
		.menu a {
			border-radius: 20px;
			color: #fff;
			padding: 10px 20px;
			display: none;
		}

		#icons-menu {
			display: block;
		}

		.menu i {
			display: none;
		}

		.brand {
			color: #fff;
			width: 20%;
		}
	}

	@media screen and (max-width: 1102px) {
		.menu {
			width: 70%;
		}

		.menu a {
			border-radius: 20px;
			color: #fff;
			padding: 10px 15px;
			font-size: 15px;
		}
	}
	/* 1406 */
</style>
