---
import Name from "../components/Name.astro";
import Info from "../components/Text.astro";
import ContBut from "../layouts/ContButton.astro";
---

<section>
    <Name />
    <Info />
    <ContBut />
</section>


<style>
    section{
        background-color: aqua;
        padding:  25px;
    }
</style>