---
import Profile from "../components/Profile.astro";
---


<section>
    <Profile />
</section>

<style>
    section{
        /* width: 50%; */
        /* height: auto; */
        /* padding:  25px; */
        /* margin-left: 30px; */
        /* margin-top: 40px; */
    }
</style>